<h1>Lista de Deputados</h1>

<div class="uk-child-width-1-1@s uk-child-width-1-2@m uk-grid-medium" uk-grid>
  <div ng-repeat="deputado in deputados">
    <div class="uk-card uk-card-default uk-child-width-1-2" uk-grid>
      <div class="uk-card-media-left uk-cover-container">
        <img  src="{{deputado.urlFoto}}" alt="Imagem do deputado {{deputado.nome}}" uk-cover>
        <canvas width="290" height="387"></canvas>
      </div>
      <div>
        <div class="uk-card-body">
          <h5 class="uk-card-title">{{deputado.nome}}</h4>
          <p><strong>{{deputado.siglaPartido}} - {{deputado.siglaUf}}</strong></p>
          <button class="uk-button uk-button-secondary" ng-click="carregarDeputadoSelecionado(deputado.uri)" uk-toggle="target: #deputadoDetalhes">Mais Detalhes</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="uk-flex uk-flex-center" uk-grid>
  <button class="uk-button uk-button-default" ng-click="prevPage()">Anterior</button>
  <button class="uk-button uk-button-default" ng-click="nextPage()">Próximo</button>
</div>

<div id="deputadoDetalhes" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">{{deputadoSelecionado.ultimoStatus.nome}}</h2>
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-align-center">
          <img src="{{deputadoSelecionado.ultimoStatus.urlFoto}}" alt="" srcset=""> <br />
        </div>
        <div>
          <strong>Nome Civil: </strong>{{deputadoSelecionado.nomeCivil}} <br />
          <strong>Data de Nascimento: </strong>{{deputadoSelecionado.dataNascimento | date : 'dd/MM/yyyy'}} <br />
          <strong>Partido: </strong>{{deputadoSelecionado.ultimoStatus.siglaPartido}} <br />
          <strong>Estado: </strong>{{deputadoSelecionado.ultimoStatus.siglaUf}} <br />
          <strong>Escolaridade: </strong>{{deputadoSelecionado.escolaridade}} <br />
          <strong>Gabinete: </strong>
          <ul>
            <li><strong>Número: </strong>{{deputadoSelecionado.ultimoStatus.gabinete.nome}}</li>
            <li><strong>Prédio: </strong>{{deputadoSelecionado.ultimoStatus.gabinete.predio}}</li>
            <li><strong>Sala: </strong>{{deputadoSelecionado.ultimoStatus.gabinete.sala}}</li>
            <li><strong>Andar: </strong>{{deputadoSelecionado.ultimoStatus.gabinete.andar}}</li>
            <li><strong>Telefone: </strong>{{deputadoSelecionado.ultimoStatus.gabinete.telefone}}</li>
            <li><strong>Email: </strong>{{deputadoSelecionado.ultimoStatus.gabinete.email}}</li>
          </ul>
        </div>
        <button class="uk-button uk-button-default uk-modal-close" type="button">Fechar</button>
    </div>
</div>
